<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juntos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/juntos_launcher"
        android:roundIcon="@mipmap/juntos_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.QuestDatabaseActivity"
            android:label="@string/questionsDatabase" />
        <activity
            android:name=".activity.MicroLearningActivity"
            android:label="@string/microlearning" />
        <activity
            android:name=".activity.PlayerVideoActivity"
            android:label="@string/videoPlayer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MicroLearningActivity" />
        </activity>
        <activity
            android:name=".activity.VideosListActivity"
            android:label="@string/videosList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.VideosActivity" />
        </activity>
        <activity
            android:name=".activity.VideosActivity"
            android:label="@string/videos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity
            android:name=".activity.CollaboratorsActivity"
            android:label="@string/bestCollaborators">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity
            android:name=".activity.RoomsActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainConfigActivity"
            android:label="@string/createwNewRoom">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity android:name=".activity.ChatRoomActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/createAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/myMessage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity
            android:name=".activity.ContactsActivity"
            android:label="@string/contacts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>
        <activity android:name=".activity.ChatActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoomsActivity" />
        </activity>

        <service android:name=".FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>